.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: Raleway;
  @include font($fz: 26px, $fw: 700, $lh: 1.19, $ls: 0.03em);
  color: #000000;
}

.logo-accent {
  font-family: Raleway;
  @include font($fz: 26px, $fw: 700, $lh: 1.19, $ls: 0.03em);
  color: var(--accent-text-color);
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font();
  color: var(--main-title-color);
  transition-property: color;
  @extend %animation-style;

  position: relative;

  &:focus,
  &:hover {
    color: var(--accent-text-color);
  }
}

.header-link.current {
  color: var(--accent-text-color);
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--main-btn-background-color);
    border-radius: 2px;
    position: absolute;
    bottom: -2px;

    display: block;
  }
}

.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font();
  color: var(--main-text-color);
  transition-property: color;
  @extend %animation-style;

  &:focus,
  &:hover {
    color: var(--accent-text-color);
  }
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
